@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* Score div that changes when score updates */
.gameUIBox.score-updated {
  background-color: #E961DB; /* Change to the pink color you desire */
  transform: scaleX(1.1) scaleY(1.05); 
  transition: all 0.3s ease-in-out; /* Smooth transition for size and color */
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 25%); /* 4 columns, each taking 25% of the container's width */
  grid-template-rows: 25% 30% 45%; /* 3 rows with heights of 35%, 40%, and 25% of the container's height */
  gap: 5; /* No gap between grid items. Adjust if needed. */
  height: 75%; /* This will make the grid container take the full viewport height */
  width: 100%; /* This will make the grid container take the full viewport width */
}

.mole-hole {
  width: auto;
  height: auto;
  position: relative;
}

.mole {
 width: auto;
 height: auto;
 background-image: url(/bug.svg);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 z-index: 10;
}
@font-face {
  font-family: "PressStart";
  src: url(/fonts/PressStart2P-Regular.ttf);
}
.PressStartFont
{
  font-family: "PressStart";
}
.score-board {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.gameUIBox
{
  transform-origin: left bottom; 
  transition: all 0.3s ease-in-out; 
  background-color: #50324F;
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 10rem;
  text-align: center;
  transform: translate(-50%, -50%); /* Center the pop-up on the coordinates */
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 2.5px solid #E961DB;
  color: #E961DB;
  background-color: #202038; /* The color you want for the background */
  padding: 0.5rem;
  border-radius: 20px;
  font-family: "PressStart";
}
.pop-up.show {
  opacity: 1;
  visibility: visible;
}
.smoke {
  position: fixed;
  left: 0;
  top: 0;
  width: 10rem;
  text-align: center;
  transform: translate(-50%, -50%); /* Center the pop-up on the coordinates */
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}
.smoke.show {
  opacity: 1;
  visibility: visible;
}
.bomb {
  width: auto;
  height: auto;
  background-image: url(/bomb.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 10;
}
.bg{
  background-image: url(/background.gif);
  background-size: cover; /* This will cover the entire area of the div without being cut */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image within the div */
  position: absolute; /* Position absolute for centering */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset the div back by half its width and height */
  width: calc(100%); /* Subtract the left and right padding from the full width */
  height: calc(100%); /* Subtract the top and bottom padding from the full height */
}
.logo-container {
  position: absolute; /* Position it without affecting other elements */
  top: 0; /* Align to the top of the parent */
  right: 0; /* Align to the right of the parent */
  background-image: url('/ExperisLogo.svg'); /* Path to your logo image */
  background-position: center; /* Center the logo in the div */
  background-repeat: no-repeat; /* Do not repeat the logo */
  background-size: contain; /* Ensure the entire logo is visible */
  width: 500px; /* Set a width for the logo */
  height: 200px; /* Set a height for the logo */
  pointer-events: none; /* Make sure it doesn't interfere with gameplay */
  opacity: 0.5; /* Set the desired opacity */
  z-index: -1; /* Ensure it's behind all other content */
}
.life-lost-animation {
  transform: scale(1.1); /* Example: scale up the div */
  transition: transform 0.5s ease-out; /* Smooth transition */
  background-color: #99001B; /* Temporary background color change */
}
.logo-container2 {
  position: absolute; /* Position it without affecting other elements */
  top: 0; /* Align to the top of the parent */
  right: 0; /* Align to the right of the parent */
  background-image: url('/ExperisLogo.svg'); /* Path to your logo image */
  background-position: center; /* Center the logo in the div */
  background-repeat: no-repeat; /* Do not repeat the logo */
  background-size: contain; /* Ensure the entire logo is visible */
  width: 250px; /* Set a width for the logo */
  height: 100px; /* Set a height for the logo */
  pointer-events: none; /* Make sure it doesn't interfere with gameplay */
  opacity: 1; /* Set the desired opacity */
  z-index: -1; /* Ensure it's behind all other content */
  margin-right: 80px;
  margin-top: 40px;
}
.logo-container3 {
  position: absolute; /* Position it without affecting other elements */
  top: 0; /* Align to the top of the parent */
  left: 0; /* Align to the right of the parent */
  background-image: url('/ExperisLogo.svg'); /* Path to your logo image */
  background-position: center; /* Center the logo in the div */
  background-repeat: no-repeat; /* Do not repeat the logo */
  background-size: contain; /* Ensure the entire logo is visible */
  width: 250px; /* Set a width for the logo */
  height: 100px; /* Set a height for the logo */
  pointer-events: none; /* Make sure it doesn't interfere with gameplay */
  opacity: 1; /* Set the desired opacity */
  z-index: -1; /* Ensure it's behind all other content */
  margin-left: 80px;
  margin-top: 40px;
}

.adminbutton {
  display: flex;
  justify-content: flex-end;
}

.adminbutton p {
  padding: 10px;
  width: 200px;
  background-color: rgb(32,32,56);
  text-align: center;
  border: rgb(216, 80, 202) solid 3px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Press Start 2P';
}

.adminbutton p:hover {
  background-color: white;
  color: rgb(32,32,56);
}