@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(62, 18, 52);
    color: white;
    font-family: 'Press Start 2P';
    background-image: url('/boop-a-bug-crop.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.backbuttonbox {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.backbuttonbox p {
    color: white;
    margin: 20px 30px 0 0;
    font-size: 50px;
}

.backbuttonbox p:hover {
    color: rgb(233,97,219);
}

img {
    width: 500px;
    margin-bottom: 30px;
}

table {
    width: 80vw;
}

td {
    height: 30px;
}