@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(62, 18, 52);
    color: white;
    font-family: 'Press Start 2P';
    background-image: url('/boop-a-bug-crop.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 50px auto;
}

table {
    width: 80vw;
}

td {
    height: 25px;
}