@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(62, 18, 52);
    color: white;
    font-family: 'Press Start 2P';
    background-image: url('/boop-a-bug-crop2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    
}

main {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}



div {
    width: 100vw;
    flex-direction: row;
    margin: auto;
}

.infoboxes {
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.header {
    width: 500px;
    margin: 50px auto 50px 70px;
    align-items: center;
}

.infobox {
    margin: 10px;
    width: 50vw;
}

.infobox img {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: 40px;
    margin-right: 20px;
}
.infobox p {
    width: 100%;
    margin: 10px;
    height: 80px;
    align-items: center;
    line-height: 20px;
}

.buttonbox {
    width: 45vw;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttonbox p {
    padding: 60px;
    border-radius: 15px;
    background-color:  rgb(216, 80, 202);
    text-align: center;
    align-items: center;
    margin: 0;
    color: white;
    text-decoration: none;
}

.buttonbox p:hover {
    background-color: rgb(32,32,56);
    color: rgb(216, 80, 202);
    border:  rgb(216, 80, 202) solid 3px;
}
